.main-section{
  border-radius: 0 0 100px 0;	
  background-color: #000000;
  min-height:120vh;
  max-height: 800px;
  color:#fff; 
  font-family: 'Barlow', sans-serif;
}

.nav-item-button{
  height: 40px;	
  width: 126px;	
  border-radius: 4px; 
  background-color: #F32855;
  display: flex;
  justify-content: center;
  align-items: center
}
.main-section-container{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.main-heading-lg{
 
  color: #FFFFFF;	
  font-weight: 800;	
  font-size: 62px;	
  letter-spacing: normal; 
  line-height: 72px;	
  margin: 15px auto;
  text-align: center;
}
.main-heading-sm{
  color: #FFFFFF;
  font-size: 20px;	
  line-height: 26px;	
  text-align: center;
  margin: 15px auto;

}
.search-bar-container,
.seach-bar{
  display: flex;
  height: 59px;
  width: 100%;
  justify-content: center;
}
.search-input-container{
  border: 3px solid #F32855;
  height: 100%;
  border-radius: 5.2px 0 0 5.2px;	
  flex:1;
  padding: 0 20px;
  background-color: transparent;
  color: inherit;
  font-size: 18px;
}
.search-input-container::placeholder{
  opacity: 0.7;	
  color: #CACFD1;	
  font-size: 16px;	
  font-weight: 600;	
  line-height: 26px;
}
.search-input-container:focus{
  outline: none;
}
.search-btn{

  border-radius: 0 5.2px 5.2px 0;	
  background-color: #F32855;
  border: 1px solid #F32855;
  flex: 0 0 25%;
  color: #FFFFFF;	
  font-size: 20px;	
  font-weight: 700;	
  line-height: 18px;
  text-transform: uppercase;
  margin-left: -2px;
}
.search-btn:active{
  outline: none;
}
.search-btn:focus{
  outline: none;
}
.stat-text{
  opacity: 0.6;	
  color: #FFFFFF;		
  font-size: 14px;	
  line-height: 26px;	
  text-align: center;
  font-weight: 400;
}
.card-profile-pic{
  height: 114px;
  border-radius: 100%;
  width: 114px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.35);
}
.report-container{
  display: flex;
  justify-content: center;
  transform: translateY(-50%)
}
.report-card{
  flex: 0 0 25%;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.08);
}

.card-heading-name{
  
  color: #2C2C2C;
  font-size: 22px;	
  font-weight: 700;	
  line-height: 32px;	
  text-align: center;
  margin: 16px 0 10px;
}
.card-id-officail{
opacity: 0.5;	
color: #3F4145;	
  
font-size: 14px;	
font-weight: 700;	
line-height: 14px;
}
.card-report-text{
  color: #3F4145;
  font-size: 15px;
  line-height: 24px;
  margin: 16px 0;
  padding: 0 20px;

}
.follow-stat-row{
  display: flex;
  margin-bottom: 16px;
  justify-content: space-evenly;
}
.follow-header{
  color: #2C2C2C;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;

}
.follow-bottom{
  opacity: 0.5;	
  color: #3F4145;	
  font-size: 12px;	
  font-weight: 700;	
  line-height: 14px;	
  text-align: center;
}
.card-footer-report{
  border-top: 1px solid #D8D8D8;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F32855;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.follow-stat-container{
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 33%;
}

.follow-stat-container:not(:last-child){
  border-right: 1px solid #eee;
}
.card-report-header{
  height: 57px;
}
.card-profile-photo-container{
  position: absolute;
  left: 50%;
  top: -57px;
  transform: translateX(-50%);
}
.header-nav-container{
  padding: 32px 0;
}
.customize-nav-bar{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right-main{
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.nav-left,
.nav-right{
  display: flex;
  align-items: center;
}
.nav-item-customize-1{
  margin-left: 6.9vw;
}
.nav-item-customize{
  margin-left: 4vw;
  color: #FFFFFF;
  font-size: 16px;	
  font-weight: 700;
  line-height: 19px;
}
.tiktok-logo{
  text-shadow: -1.6px -1.6px 0 #0ff,1.6px 1.6px 0 #f00;
  font-weight: 800;
  margin-right: 10px;
}
.report-card:nth-child(2){
  transform: translateY(20px);
  margin: 0 30px;
}
.crown{
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0px;
}
